streamlit
langchain
openai
PyPDF2
tiktoken
python-dotenv
streamlit
langchain
faiss-cpu
sentence-transformers
langchain_groq
langchain_huggingface
requests
langchain_openai
langchain_community
langchain_chroma
langchain-huggingface
fastapi
python-multipart
streamlit-webrtc 
av
pinecone-client